################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EF_01/Hospital_db/.vs/Hospital_db/FileContentIndex
/EF_01/Hospital_db/.vs/Hospital_db/v17/.suo
